:root {
  /* Pri */

  --pri-100: hsl(26, 100%, 55%);
  --pri-110: hsl(25, 100%, 94%);

  /* Neutral */

  --neutral-100: hsl(220, 13%, 13%);
  --neutral-110: hsl(219, 9%, 45%);
  --neutral-120: hsl(220, 14%, 75%);
  --neutral-130: hsl(223, 64%, 98%);
  --neutral-140: hsl(0, 0%, 100%);
  --neutral-150: hsl(0, 0%, 0%);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.nav:hover svg path {
  @apply stroke-pri-100;
}

.close:hover svg path {
  @apply fill-pri-100;
}

.menu-item {
  @apply relative;

  &::after {
    @apply content-"" absolute border-2 border-pri-100 w-2/3 md:w-full left-0 top-0 mt-8 md:mt-14 transition  transform duration-500 scale-0 origin-right;
  }

  &:hover::after {
    @apply transform scale-100 origin-left;
  }
}
